<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet"
          href="{% static 'base.css' %}">
    {% block appareance %} {% endblock %}
    <title>{% block title %} Sakana Consultants {% endblock %}</title>
</head>
<body>
<header> <img src="{% static 'logo_Sakana.jpg' %}"
            alt="Logo de Sakana Consultants"
            id = "logo">
    Consultants</header>
    <nav>
        {% block nav %}
        {% endblock %}
    </nav>
    <section id="content">
        {% block content %}
        {% endblock %}
    </section>
    <footer >
        <section id="footer">Sakana Consultants : mentions légales
        </section>
    </footer>
</body>
</html>
