<!DOCTYPE html>
<html lang="fr">

<head>
    {% load i18n %}
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block appareance %} {% endblock %}
    {% load i18n %}
    <title>{% block title %} Sakana Consultants {% endblock %}</title>
</head>

<body>
    <header>
        <img src="{% static 'logo_Sakana.jpg' %}" alt="Logo de Sakana Consultants" id="logo">
        <div id="entreprise">Sakana Consultants</div>
    </header>
    <div id="body_core">
        <nav>
            <h1>{{ browsingTitle }}</h1>
            {% block nav %}
            {% endblock %}
        </nav>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer >
        <h3>{% trans "Mentions légales" %}</h3>
        <div class="legalNotice">
            <div class="legalLink" >
                <a id="identity" href="{%url 'legalNotice' 'identification' %}">
                    {% trans "Identification" %}</a>
            </div>
            <div class="legalLink" >
                <a id="activity"  href="{%url 'legalNotice' 'activity' %}">
                    {% trans "Activité" %}</a>
            </div>
            <div class="legalLink" >
                <a id="personnalData"  href="{%url 'legalNotice' 'personnalData' %}">
                    {% trans "Utilisation des données personnelles" %}</a>
            </div>
            <div class="legalLink" >
                <a id="officialSite" href="https://www.sakana-consultants.com/">
                    {% trans "Site officiel" %}</a>
            </div>
        </div>
    </footer>
</body>
</html>
