/* 1. General */
body, html{
    display : flex ;
    flex-direction : column ;
    justify-content : space-between ;
    align-items : center  ;
    background : #E0FFFF;
    height : 100% ;
    width : 100% ;
}
/* 2. header  et footer*/
header , footer{
    position : static ;
    border : 5px blue outset;
    border-radius : 50px;
    background : #20B2AA ;
    color : #00808B ;
    width : 80% ;
}

/* 2.1 header */
header{
    display : flex ;
    flex-direction : row ;
    justify-content : space-around ;
    align-items : center ;
    margin-bottom : 30px ;
    padding : 10px ;
}

#logo{
    border : 10px green inset;
    border-radius : 50% ;
}

#entreprise{
    font-size : 400% ;
    font-weight : bold;
    color : #008080 ;
}

/* 2.2 footer */
footer{
    display : flex ;
    flex-direction : column ;
    align-items : center ;
    margin-top : 30px ;
    padding : 5px ;
    height : 15% ;
}

footer h3{
    font-size : x-large ;
    font-weight : bold ;
    color : #008080 ;
    padding : 0px ;
    margin : 0px ;
}

.legalNotice{
    display : flex ;
    flex-direction : row ;
    align-content : space-around ;
    margin-top : 10px ;
    margin-bottom : 10px ;
    margin-left : 20px ;
    margin-right : 20px ;
    }

.legalLink{
    margin-top : 10px ;
    margin-bottom : 10px ;
    margin-left : 25px ;
    margin-right : 25px ;
}

/* 3. core of the body */
#body_core{
    flex : 2 ;
    display : flex ;
    flex-direction : row ;
    align-content : space-between ;
    padding : 0px ;
    margin : 0px ;
    width : 100% ;
}

/* 3.1 navigation */
nav{
    flex : 1 ;
    color : #5F9EA0 ;
    display : flex ;
    flex-direction : column ;
    justify-content : flex-start ;
    align-items : center ;
    border : 2px black solid ;
    border-radius : 15px;
    margin-left : 5% ;
    margin-right : 2% ;
    padding : 1% ;
    font-size : large ;
}

nav h1{
    position : relative ;
    margin-bottom : 20px ;
}

/* 3.2 variable content */
div#content{
    border : 2px black solid ;
    border-radius : 15px ;
    margin-left : 2% ;
    margin-right : 5% ;
    padding : 0% 0% 2% 0% ;
    flex : 6 ;
    display : flex ;
    flex-direction : column ;
    justify-content : space-around ;
    position : relative ;
}

