/* 1. General */
body, html
{
    display : flex ;
    flex-direction : column ;
    justify-content : space-between ;
    align-items : flex-start ;
    background : #E0FFFF;
    height : 100% ;
}
/* 2. header  et fouter*/
header , footer {
    border : 5px blue outset;
    border-radius : 50px;
    background : #20B2AA ;
    color : #00808B ;
    width : 100% ;
    flex : 1 ;
}

/* 2.1 header */
header
{
    display : flex ;
    flex-direction : row ;
    justify-content : space-around ;
    align-items : center ;
    margin-bottom : 30px ;
    padding : 10px ;
}

#logo{
    border : 10px green inset;
    border-radius : 50% ;
}

#entreprise
{
    font-size : 400% ;
    font-weight : bold;
    color : #008080 ;
}

/* 2.2 footer */
footer{
    position : relative ;
    display : flex ;
    flex-direction : column ;
    justify-content : space-between ;
    align-items : center ;
    margin-top : 30px ;
    padding : 0px ;
}

footer h3{
    font-size : x-large ;
    font-weight : bold ;
    color : #008080 ;
    padding : 0px ;
    margin : 0px ;
}

#mentions_legales{
    display : flex ;
    flex-direction : row ;
    justify-content : space-between ;
    color : black ;
    margin : 0px ;
}

.liste_legale{
    font-size : small ;
    margin : 0px ;
}

#mentions_legales h4{
    font-size : 110% ;
    font-weight : bold ;
    font-style : italic ;
    text-align : center ;
    margin : 0px ;
}

/* 3. core of the body */
#body_core
{
    flex : 1 ;
    display : flex ;
    flex-direction : row ;
    justify-content : space-between ;
    padding : 0px ;
    margin : 0px ;
    width : 100% ;
}

/* 3.1 navigation */
nav
{
    flex : 1 ;
    color : #5F9EA0 ;
    display : flex ;
    flex-direction : column ;
    justify-content : flex-start ;
    align-items : center ;
    border : 2px black solid ;
    border-radius : 15px;
    margin-left : 5% ;
    margin-right : 10% ;
    padding : 10% 5% 10% 5% ;
    font-size : large ;
}

nav h1
{
    position : relative ;
    margin-bottom : 20px ;
}

/* 3.2 variable content */
#content
{
    flex : 4 ;
    flex-basis : 100% ;
    position : relative ;
}

