*{
    margin : 0;
    padding : 0 ;
}

body, html{
    height : 100%;
    background : #E0FFFF;
}

header , footer {
    border : 5px blue outset;
    border-radius : 50px;
    padding : 10px ;
    background : #20B2AA ;
    font-color : #00808B ;
    width : 100% ;
}

header
{
    display : flex ;
    justify-content : space-around ;
    align-items : center ;
}

#logo{
    border : 10px green inset;
    border-radius : 50% ;
}

#entreprise{
    font-size : 400% ;
    font-weight : bold;
    color : #008080 ;
}

#content{
    min-height : 100%;
    position : relative ;
}

footer{
    position : absolute ;
    bottom : 0 px ;
    display : flex ;
    flex-direction : column ;
    justify-content : space_between ;
    align-items : center ;
    padding : 15px ;
}

footer h3{
    font-size : x-large ;
    font-weight : bold ;
    color : #008080 ;
}

#mentions_legales{
    display : flex ;
    flex-direction : row ;
    justify-content : space_between ;
}

.liste_legale{
    font-size : small ;
    margin : 0.6em ;
}

#mentions_legales h4{
    font-size : 110% ;
    font-weight : bold ;
    font-style : italic ;
    text-align : center ;
}