.info
{
    color : pink ;
    text-align : center ;
    text-weight : bold ;
}

#logout_btn
{
    border-radius : 50% ;
    padding : 20px ;
    width : 10% ;
    heigth : 10% ;
    margin : auto ;
    font-color : Black ;
    text-decoration : none ;
}

#logout_btn:hover
{
    font-weight : bold ;
    background : #00FF7F ;
}

#logout_btn:active
{
    font-weight : bold ;
    background : #CD853F ;
}