{% extends "base.html" %}

{% block appareance %}
    {% load static %}
   <link rel="stylesheet"
          href="{% static 'connexion.css' %}">
{% endblock %}

{% block content %}
<p class="advertissement">Ce site est privé et protégé. <br>
    Toute intrusion non autorisée sera poursuivi selon la loi. </p>
<h1 id="titre_connexion">Se connecter au site</h1>
    <section id="formulaire">
        {% if error %}
            <div >
                <p class="info">{{ msg }}</p>
            </div>
        {% endif %}
        {% if try_again %}
            <form id="saisie" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Se connecter"/>
            </form>
        {% endif %}
    </section>

{% endblock %}
