{% extends "base.html" %}

{% block appareance %}
    {% load static %}
   <link rel="stylesheet"
          href="{% static 'contact.css' %}">
{% endblock %}

{% block nav %}
    <a class="button_like" href ="{%url 'return_from_contact' %}">{{ Return }}</a>
{% endblock %}

{% block content %}
    <h1 id="titre">{{ Message }}</h1>
        <section id="formulaire">
            <form id="saisie" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">{{ Sending }}</button>
            </form>
        </section>
{% endblock %}
